{{page-title "10"}}
<Day @number="10" @solution1={{this.solution1}} @example1={{this.example1}} @solution2={{this.solution2}} @example2={{this.example2}}>
  <h2>Today I learned</h2>
  <ul>
    <li>That JavaScript has a <code>reverse()</code> for Arrays</li>
    <li>That my <a href="https://github.com/Liulangzhe98">little brother</a> is an amazing rubber duck!</li>
  </ul>
</Day>