{{page-title "11"}}
<Day @number="11" @solution1={{this.solution1}} @example1={{this.example1}} @solution2={{this.solution2}} @example2={{this.example2}}>
  <h2>Today I learned</h2>
  <ul>
    <li>That <code>0</code> is falsy so <code>.filter(x => x)</code> also filters out <code>0</code> and that is inconvenient when working with the index of an array.</li>
  </ul>
</Day>