{{page-title "14"}}
<Day @number="14" @solution1={{this.solution1}} @example1={{this.example1}} @solution2={{this.solution2}} @example2={{this.example2}}>
  <h2>Today I learned</h2>
  <ul>
    <li>That my idea works, even if it's slow</li>
    <li>Working with <code>Map</code> instead of <code>{}</code> makes your code more readable, because you get access to functions like <code>.get() and .has()</code></li>
  </ul>
</Day>