{{page-title "15"}}
<Day @number="15" @solution1={{this.solution1}} @example1={{this.example1}} @solution2={{this.solution2}} @example2={{this.example2}}>
  <h2>Today I learned</h2>
  <ul>
    <li>How to create a bash alias</li>
    <li>That I know a <code>Dijkstra</code> problem when I see one</li>
  </ul>
</Day>