{{page-title "18"}}
<Day @number="18" @solution1={{this.solution1}} @example1={{this.example1}} @solution2={{this.solution2}} @example2={{this.example2}}>
  <h2>Today I learned</h2>
  <ul>
    <li>That I still cannot spell the word length</li>
    <li>Going about this puzzle by programming it step by step helped</li>
  </ul>
</Day>