{{page-title "21"}}
<Day @number="21" @solution1={{this.solution1}} @example1={{this.example1}} @solution2={{this.solution2}} @example2={{this.example2}}>
  <h2>Today I learned</h2>
  <ul>
    <li>That I prefer an Object Oriented way of programming but I could not get it to work.
      <ul>
        <li>Classes<CodeSnippet @name="day21-classes.js"/></li>
        <li>Solve-function using the classes<CodeSnippet @name="day21-OO-solution2.js"/></li>
      </ul>
    </li>
  </ul>
</Day>