{{page-title "4"}}
<Day @number="4" @solution1={{this.solution1}} @example1={{this.example1}} @solution2={{this.solution2}} @example2={{this.example2}}>
  <h2>Today I learned</h2>
  <ul>
    <li>That a challenge should spark joy and not frustration</li>
    <li>That filling a 2D-array results in filling it with the same object. See the <a href="https://stackoverflow.com/questions/3689903/how-to-create-a-2d-array-of-zeroes-in-javascript">explaination here</a>.</li>
  </ul>
</Day>