{{page-title "5"}}
<Day @number='5' @solution1={{this.solution1}} @example1={{this.example1}} @solution2={{this.solution2}} @example2={{this.example2}}>
  <h2>Today I learned</h2>
  <ul>
    <li>That comparing <code>String</code>s does yield the same result as <code>Number</code>s. So <code>"547" > "72"</code> is <code>false</code> but <code>547 > 72</code> is of course <code>true</code>.</li>
  </ul>
</Day>
