{{page-title "9"}}
<Day @number="9" @solution1={{this.solution1}} @example1={{this.example1}} @solution2={{this.solution2}} @example2={{this.example2}}>
  <h2>Today I learned</h2>
  <ul>
    <li>That when you use a 1D-array to model a matrix you need to mind the edges and not wrap around to the next line.</li>
  </ul>
</Day>